
# data files
/data/*
*.csv
*.xlsx

# imgs for reports
/reports/visuals/*
*.png

# tableau files
/reports/dashboards/*
*.twb
*.twbr

.Rproj.user

# R working files
*.Rhistory
*.Rproj
*.RData

# allow data dictionaries
!_data_dictionary.xlsx
!_data_model.png